beautifulsoup4==4.12.3
certifi==2024.8.30
Jinja2==3.1.4
langchain==0.3.11
langchain-anthropic==0.3.0
requests>=2.31.0
lxml_html_clean
lxml==5.3.0
MarkupSafe==3.0.2
python-dotenv==1.0.1
trafilatura==2.0.0
urllib3>=1.26,<1.27
pyseoanalyzer==4.0.7
flask==2.0.1
flask-cors==3.0.10
Werkzeug<2.3,>=2.0